In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv('cnn007.csv')
df['col10'] = df['col10'].str.replace('(', '')
df['col10'] = df['col10'].str.replace(')', '')
df['col10'] = df['col10'].str.replace('*', '')
counts = df['col10'].value_counts().to_frame()
counts

             col10
              3806
PERSON          97
ORG             34
DATE            17
CARDINAL        10
EVENT            8
WORK_OF_ART      5
TIME             5
GPE              4
ORDINAL          4
NORP             3
FAC              2
LOC              1
PRODUCT          1